<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUNDLE_ID_EXT</key>
	<string>$(BUNDLE_ID_EXT)</string>
	<key>APP_GROUP_ID</key>
	<string>$(APP_GROUP_ID)</string>
	<key>KEYCHAIN_ACCESS_GROUP</key>
	<string>$(KEYCHAIN_ACCESS_GROUP)</string>
	<key>LOG_SUBSYSTEM_APP</key>
	<string>$(LOG_SUBSYSTEM_APP)</string>
	<key>LOG_SUBSYSTEM_EXT</key>
	<string>$(LOG_SUBSYSTEM_EXT)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(OIDC_REDIRECT_URI)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(OIDC_REDIRECT_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 Right&amp;Above. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSystemExtensionUsageDescription</key>
	<string>SoftEther VPN needs to install a system extension to create and manage VPN connections and securely route your internet traffic.</string>
</dict>
</plist>
