//
//  Config.xcconfig
//  SimpleTunnel
//

DEVELOPMENT_TEAM =

BUNDLE_ID_APP = com.example.vpn.mac
BUNDLE_ID_EXT = com.example.vpn.mac.SystemPacketTunnel
BUNDLE_ID_FWMK = com.example.vpn.mac.SimpleTunnelServices.fwmk

KEYCHAIN_ACCESS_GROUP = com.example.shared
APP_GROUP_ID = group.com.example.sanitized.shared

OIDC_REDIRECT_SCHEME = com.example.vpn.mac
OIDC_URL_IDENTIFIER = com.example.vpn.mac.oidc

LOG_SUBSYSTEM_APP = com.example.vpn.app
LOG_SUBSYSTEM_EXT = com.example.vpn.ext

APP_MARKETING_VERSION = 1.0.0
APP_BUILD_NUMBER      = 1

EXT_MARKETING_VERSION = 1.0.0
EXT_BUILD_NUMBER      = 1

FWMK_MARKETING_VERSION = 1.0.0
FWMK_BUILD_NUMBER      = 1

// Local overrides
#include? "Config.local.xcconfig"
